.center {
  text-align: center;
}
.login {
  padding-top: 4rem;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.image_box {
  margin: 1rem;
}

.images_form {
  display: grid;
  justify-content: center;
}
